$white: #ffffff;
$black: #000000;

// GREY
$lighterGrey: #d1d8e0;
$lightGrey: #b0bec5;

// BLUE
$lighterBlue: #56ccf2;
$lightBlue: #3caadc;
$darkBlue: #0a3d62;
$darkerBlue: #083150;
$blackBlue: #031a32;

// GREEN
$lightGreen: #27ae60;
$darkGreen: #1f8c50;

// RED
$lightRed: #ea4335;
$red: #c62828;

// ORANGE
$lightOrange: #f2994a;
$orange: #e08830;
