@import "../../../styles/colors.scss";

.overlay {
    position: fixed;
    top: -10px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

  }
  
  .modal {
    position: absolute;
    background: $darkerBlue;
    padding: 20px;
    border-radius: 8px;
    min-width: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    animation: fadeIn 0.3s ease;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .modalHeader h2 {
    margin: 0;
   
  }
  
 
  .modalContent {
    padding: 10px 0;
  }

  .modalButton button {
  width: 75%;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin: 0 auto;
}
.modalButton   {
  display: flex;
 
    
}

 
/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}